<div>
<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
</div>
<div>
<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
</div>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>
  <%= link_to 'Back', topics_path %>
