/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.container .wikiform {
  max-width: 80%;
  background-color: #66ffb3;
  text-align: left;
  margin: 20px;
  position: relative center;
  border-radius: 5px;
}